<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="FeedbackBros" value="https://gitea-pmp-ci.patientsky.zone/api/packages/f3fb5094-6e87-4f63-9fed-9ac33837dd3c/nuget/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <FeedbackBros>
      <add key="Username" value="u-f3fb5094-6e87-4f63-9fed-9ac33837dd3c" />
      <add key="ClearTextPassword" value="d66ba427fd5a5967ea3932984318050f3b8a70ad" />
    </FeedbackBros>
  </packageSourceCredentials>
</configuration>
